<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <div>
        {{>header}}
    <img src="../img/resize.png" alt="">
    </div>
    
    {{>footer}}
</body>
</html>